html
	head
		meta(
			name="viewport" content="width=device-width, initial-scale=1.0"
		)
		title= title
		link(href='style.css' rel='stylesheet'
		type='text/css')
	body(class='flex-container')
		DIV
			H1(class='h1_class') #{message}
		DIV
			form(action='/' method='post')
				label(
					for='fish'
					class='home-label'
				) 	Enter fish
				input(
					type='text'
					name='fish'
				)
				br()
				br()
				input(
					type='submit'
					Value='Submit fish'
				)
				br()
				br()
				DIV(class='flex-container')
					DIV
						label(
							for='houseAddress'
							class='home-label'
						) Enter Home Address
					DIV
						input(
							type='text'
							name='houseAddress'
						)
				br()
				br()
				label(
					for="roomName"
					class='home-label'
				) Enter Room Name
				input(
					type='text'
					name='roomName'
				)
				br()
				br()
				label(
					for="location"
					class='home-label'
				) Enter Location
				input(
					type='text'
					name='location'
				)
				br()
				br()
				label(
					for="sqfootage"
					class='home-label'
				) Enter Sq. Footage
				input(
					type='text'
					name='sqfootage'
				)