html
	head
		meta(
			name="viewport" content="width=device-width, initial-scale=1.0"
		)
		title= title
		link(href='/style.css' rel='stylesheet'
		type='text/css')
		script
			include ../mongodbops.js
		script
			include ../util.js
	//- body(class='flex-container' onload="alert('bodyloaded');fetch('/userall',{method:'GET'}).then(resp=>{alert('...rr='+JSON.stringify(resp)); return resp;}).then(response=>response.json()).then(resp=>{alert('...r='+JSON.stringify(resp)); return resp;}).then(data=>{produceUserSelect(data, 'id_selectuser', 'id_form_limiteduserjoin');}).catch(alert('caught'););")
	body(class='flex-container' onload="bodyonload()")
		DIV(class='dbstatus-parent')
			DIV(class='dbstatus-success') Database Status
			if dbStatus == 'pingfailed'
				DIV(class='dbstatus-failed', id='dbstatus_id') #{dbStatus}
			else
				DIV(class='dbstatus-success' id='dbstatus_id') #{dbStatus}
		DIV
			BUTTON(class='dbcheck', type='button', onclick="fetch('/dbstatus').then(response => response.json()).then(data => {alert(JSON.stringify(data));document.querySelector('#dbstatus_id').innerHTML = data.pingstatus;})") Check
		DIV
			H1(class='h1_class') #{message}
		DIV
			form(action='/limited/user/join' method='post' id='id_form_limiteduserjoin')
				label(
					for='byGoodLoginAttempts'
					class='home-label'
				) 	Enter Good Login Attempts
				input(
					type='text'
					name='byGoodLoginAttempts'
				)
				br()
				br()
				DIV() USER SELECT
					DIV(id='id_selectuser_parent' onclick='/*alert("select user please");*/')
				br()
				br()
				label(
					for='byTimeOfDay'
					class='home-label'
				) 	Enter Time Of Day
				//-input(
				//-	type='text'
				//-	name='byTimeOfDay'
				//-)
				br()
				br()
				multiple-timerange(id="multipletimerange_id" name="byTimeOfDay"
				id_form="id_form_limitedadd"
				) MT1

				br()
				br()
				label(
					for='byTimeTotal'
					class='home-label'
				) Time Total
				input(
					type="text"
					name="byTimeTotal"
				)
				br()
				br()

				label(
					for='id_active'
					class='home-label'
				) Enter Active Status
				select(
					name='active'
					id='id_active'
				)
					option(
						value="true"
					) active
					option(
						value="false"
					) notactive
				br()
				br()
				input(
					type='submit'
					Value='Submit'
				)
				br()
				br()
				script(src='/multipletimerange.js', type='application/javascript')
				script(src='/util.js', type='application/javascript')
