//-
	This pug template shows a basic interface for deleting an interface.
//-
	Revision History
	2021-06-29, RByczko, Added this revision history and file documentation.
	2021-07-08, RByczko, Removed check for fetch. Removed commented out script
	sections. Removed not used function. Removed: runAlert, alertBroTemp.
	@TODO The code is a bit messy.  A git add will be done and then clean up after.
	2021-07-09, RByczko, Incorporated idInUserAll.  Some code cleanup.
html
	head
		meta(
			name="viewport" content="width=device-width, initial-scale=1.0"
		)
		title= title
		link(href='style.css' rel='stylesheet'
		type='text/css')
		script
			include ../mongodbops.js
		//-script
		//-	include ../bro_bundle2.js

		//- script(src='../fetch_ecmascriptmodule.js' type='module' defer)
		//-script(type="module")
		//-	include ../fetch_base.js
		//- A
		//-script(type="module" src="../fetch_ecmascriptmodule.js")
		//- B
		//- script
			include ../fetch_ecmascriptmodule.js
		//- C
		//-script
			//-include ../fetch_base.js
		//-D
		//- script(src="../fetch_ecmascriptmodule.js")
		//-E
		//-script(src="../fetch_base.js")
		//-F
		//-script(src="/fetch_base.js")
		//-G 
		//-script(src="../fetch_base.js" defer)
	body(class='flex-container')
		DIV(class='dbstatus-parent')
			DIV(class='dbstatus-success') Database Status
			if dbStatus == 'pingfailed'
				DIV(class='dbstatus-failed', id='dbstatus_id') #{dbStatus}
			else
				DIV(class='dbstatus-success' id='dbstatus_id') #{dbStatus}
		DIV
			BUTTON(class='dbcheck', type='button', onclick="fetch('/dbstatus').then(response => response.json()).then(data => {alert(JSON.stringify(data));document.querySelector('#dbstatus_id').innerHTML = data.pingstatus;})") Check
		DIV
			H1(class='h1_class') #{message}
		DIV
			form(action='/users' method='delete')
				label(
					for='users'
					class='home-label'
				) 	Choose user to delete:
				select(
					type='text'
					name='users_id'
					id='id_select'
				)
					option(
						value="1234"
					) SomeUserNameA
					option(
						value="5678"
					) OtherUserNameB
					- console.log("START POPULATE");
					- for (var i=0; i<=userAll.length-1; i++){
						- if (userAll[i]._id&&userAll[i].name) {
							option(value=userAll[i]._id) #{userAll[i].name}
						-		console.log("#### "+userAll[i].name);
						- }
					- }

				br()
				br()
				input(
					type='submit'
					Value='Submit'
					id='id_input'
				)
				br()
				br()
				script(type="module").
					import {fetchDelete, validateDelete, fetchUserAll, alertFetchResponse, idInUserAll} from '../fetch_ecmascriptmodule.js';

					async function onInputClick(e) {
						e.preventDefault();
						// e.document.q
						alert("onInputClick:start");
						let si = document.querySelector('#id_select').selectedIndex;
						let op = document.querySelector('#id_select').options;
						// let val = op[si].text;
						let val = op[si].value;
						alert("si="+si);
						alert("val="+val);
						let response_delete = await fetchDelete(val, validateDelete);
						e.stopPropagation();
						// e.preventDefault();
						alert("fetchUserAll: before");
						let response_userall = await fetchUserAll();
						alert("Before response_userall.json()");
						let userAll = await response_userall.json();
						let idPresent = idInUserAll(val /*"60e75ef0ecdca54e026e4651"*/, userAll);
						if (!idPresent) {
							alert("user deleted");
							document.querySelector('#id_select').remove(si);
						}
						else {
							alert("user not deleted");
						}
						alert("idPresent="+idPresent);
						alert("onInputClick:end");
					}
					document.querySelector('#id_input').addEventListener('click', onInputClick);
		// script(src='../fetch_ecmascriptmodule.js' type='module')