html
	head
		meta(
			name="viewport" content="width=device-width, initial-scale=1.0"
		)
		title= title
		link(href='style.css' rel='stylesheet'
		type='text/css')
		script
			include ../mongodbops.js
	body(class='flex-container')
		DIV(class='dbstatus-parent')
			DIV(class='dbstatus-success') Database Status
			if dbStatus == 'pingfailed'
				DIV(class='dbstatus-failed', id='dbstatus_id') #{dbStatus}
			else
				DIV(class='dbstatus-success' id='dbstatus_id') #{dbStatus}
		DIV
			BUTTON(class='dbcheck', type='button', onclick="fetch('/dbstatus').then(response => response.json()).then(data => {alert(JSON.stringify(data));document.querySelector('#dbstatus_id').innerHTML = data.pingstatus;})") Check
		DIV
			H1(class='h1_class') #{message}
		DIV
			form(action='/useradd' method='post')
				label(
					for='username'
					class='home-label'
				) 	Enter Username
				input(
					type='text'
					name='username'
				)
				br()
				br()
				label(
					for='password'
					class='home-label'
				) 	Enter Password
				input(
					type='password'
					name='password'
				)
				br()
				br()
				label(
					for='id_active'
					class='home-label'
				) Enter Active Status
				select(
					name='active'
					id='id_active'
				)
				input(
					type='submit'
					Value='Submit'
				)
				br()
				br()
